.chat__container {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
}

.chatbox {
  flex-direction: column;
  display: flex;
  height: calc(100vh - 350px);

  overflow: auto;
  background: gray;
}
.inputContainer {
  display: flex;
  textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 100px;
  }
  button {
    width: 164px;
  }
}

@media (min-width: 700px) {
  .chatbox {
    height: 68vh;
  }
}
